# Given the following dictionary

In [1]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, 3, 9, 20, 20, 7, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

# Load the dictionary into a dataframe

In [3]:
import pandas as pd

data_frame = pd.DataFrame(exam_data)

print(data_frame)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    3.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   20.0         1     yes
7      Laura    7.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

# Find the highest score(s)

In [19]:

data_frame.sort_values(by='score', ascending=False).head(1)

      name  score  attempts qualify
5  Michael   20.0         3     yes

# Find the person who score the highest with the least attempt

In [20]:

data_frame.sort_values(by=['score', 'attempts'], ascending=[False, True]).head(1)

      name  score  attempts qualify
6  Matthew   20.0         1     yes

# Find the average scores

In [24]:

data_frame['score'].mean()

12.4

# Find the students who scored above average

In [26]:

data_frame[data_frame['score']>data_frame['score'].mean()]

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
2  Katherine   16.5         2     yes
5    Michael   20.0         3     yes
6    Matthew   20.0         1     yes
9      Jonas   19.0         1     yes